@media screen and (max-width: 1281px) and (min-width: 768px) {

    /* bloque-nav */
    .bloque {
        display: flex;
        flex-direction: row;
        background: red;
        border: white solid 1px;
        color: white;
        width: 100%;
        height: 60px;
        font-size: 25px;

        text-align: center;

    }

    span {
        font-family: 'gagalin';
        position: relative;
        top: 15px;
        left: 150px;

    }

    /* buscador */
    .buscador-box {
        display: flex;

    }

    .buscador {
        margin: 5px;
        top: 5px;
        position: relative;
        left: 205px;
        height: 40px;
        width: 260px;
        font-size: 15px;
        border-radius: 16px;
        border: solid red 3px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
        text-decoration: none;
        list-style: none;
    }

    .search-btn {
        position: relative;
        top: 10px;
        left: 220px;
        color: white;
    }

    .search-btn:hover {
        color: black;
        transform: scale(1.3);
        transition: .4s;
    }

    /* bloque-nav */

    /* selectores */
    /* selectores */
    .cont-selectores {
        display: flex;
        flex-wrap: wrap;
        margin-left: 35px;
        align-items: center;
    }

    .selectores {
        margin-left: 15px;
        margin-top: 40px;
        border: rgb(255, 0, 0) solid 2px;
        padding: 15px;
        letter-spacing: 0.5px;
        width: auto;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-family: "gagalin";
        font-size: 12px;
        border-radius: 9px;
    }

    .selectores:hover {
        color: black;
        transform: scale(1.1);
        transition: .2s;
    }

    /* selectores */

    .micarousel{
        margin-top: 50px;
        max-width: 100%;
        min-width: 100%;
        
        
    }
    .micarousel-inner{
        width: 100%;
        margin: auto;
    }
    .micarousel-inner img{
        object-fit: cover;
        height: 300px;
        margin: auto;
    }



}

/* IPAD  768px */
@media screen and (max-width: 768px) and (min-width: 500px) {
    /* nav */

    .menu-items li a {
        font-size: 10px;
        padding: 0px 3px;
    }

    /* nav */

    /* bloque-nav */
    .bloque {
        display: flex;
        flex-direction: row;
        background: red;
        border: white solid 1px;
        color: white;
        width: 100%;
        height: 50px;
        font-size: 15px;

        text-align: center;

    }

    span {
        font-family: 'gagalin';
        position: relative;
        top: 15px;
        left: 70px;

    }

    /* bloque-nav */

    /* buscador */
    .buscador-box {
        display: flex;

    }

    .buscador {
        margin: 5px;
        top: 5px;
        position: relative;
        left: 125px;
        height: 35px;
        width: 150px;
        font-size: 15px;
        border-radius: 16px;
        border: solid red 3px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
        text-decoration: none;
        list-style: none;
    }

    .search-btn {
        position: relative;
        top: 15px;
        left: 125px;
        color: white;
    }

    .search-btn:hover {
        color: black;
        transform: scale(1.3);
        transition: .4s;
    }

    /* buscador box */

    /* carousel */
    .titulo1 {
        font-size: 12px;
    }

    /* carousel */

    /* selectores */
    .cont-selectores {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        align-items: center;
    }

    .selectores {
        margin-left: 5px;
        margin-top: 40px;
        border: rgb(255, 0, 0) solid 2px;
        padding: 10px;
        letter-spacing: 0.5px;
        width: auto;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-family: "gagalin";
        font-size: 10px;
        border-radius: 9px;
    }

    .selectores:hover {
        color: black;
        transform: scale(1.1);
        transition: .2s;
    }

    /* selectores */

    /* posts */
    .post-card,
    .post-card-elegido,
    .post-card-series {
        box-shadow: rgba(0, 0, 0, 0.63) 3px 3px 10px;
        position: relative;
        margin: 1rem;
        margin-bottom: 25px;
        margin-top: 20px;
        max-width: 30%;
        min-width: 30%;
        height: 400px;
        background-color: rgba(255, 38, 0, 0.842);
        border-radius: 15px;
    }

    /* posts */

    /* footer */
    .img h3 {
        margin-left: 1px;
        color: white;
        margin-top: 15px;
        font-size: 30px;
        width: 200px;
        padding: 10px;
        border-bottom: red 2px solid;
        text-align: center;
    }


    /* footer */
    .micarousel{
        margin-top: 50px;
        max-width: 100%;
        min-width: 100%;
        
        
    }
    .micarousel-inner{
        width: 100%;
        margin: auto;
    }
    .micarousel-inner img{
        object-fit: cover;
        height: 250px;
        margin: auto;
    }




    /** end contact section **/




}

@media screen and (max-width: 414px) and (min-width: 300px) {
    .menu-items {
        display: flex;
        
    }
    .menu-items li a {
        font-size:7px;
        margin-left: 1px;
        padding: 1px 1px;
        letter-spacing: 1px;
    }
    .submenu li a {
        display: block;
        border: rgb(151, 142, 142);
        padding: 5px;
        color: rgb(255, 255, 255);
        font-family: 'gagalin';
        text-decoration: none;
        margin-left: -25px;
        margin-bottom: 10px;
    }
    .fa-caret-down{
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        letter-spacing: 7px;
        margin-right: 1px;
    }

    /* buscador-bloque */
    .bloque {
        display: flex;
        background: red;
        border: white solid 1px;
        color: white;
        width: 100%;
        height: 60px;
        font-size: 15px;
        flex-direction: row;
        text-align: center;

    }

    span {
        font-family: 'gagalin';
        position: relative;
        left: 10px;
        top: 20px;

    }

    .buscador-box {
        display: none;
    }

    .buscador {
        display: none;
    }

    .search-btn {
        display: none;
    }

    /* carousel */
    .root-carousel {
        margin-top: 50px;
        display: grid;

        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .carousel {
        z-index: 0;
        width: 90%;
        margin: auto;
    }

    .carousel img {
        cursor: pointer;
    }

    .titulo1 {
        text-align: center;
        font-family: 'gagalin';
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    /* selectores */
    .cont-selectores {
        width: 100%;
        height: 290px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        
        

    }

    .selectores {
        margin-left: 5px;
        margin-top: 10px;
        border: rgb(255, 0, 0) solid 2px;
        padding: 9px;

        width: auto;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-family: "gagalin";
        font-size: 10px;
        border-radius: 9px;
    }

    .selectores:hover {
        color: black;
        transform: scale(1.1);
        transition: .2s;
    }
    #btnVolver{
        font-size: 10px;
        width: 200px;
        margin-top: 10px;
        
    }
    .titulo-peliculas{
        margin-top: -10px;
    }

    /* posts */

/* posts */
    .post-card,
    .post-card-elegido,
    .post-card-series {
        box-shadow: rgba(0, 0, 0, 0.63) 3px 3px 10px;
        position: relative;
        margin: 1rem;
        margin-bottom: 25px;
        margin-top: 20px;
        max-width: 60%;
        min-width: 60%;
        height: 400px;
        background-color: rgba(255, 38, 0, 0.842);
        border-radius: 15px;
    }

    /* posts */

    .micarousel{
        margin-top: 50px;
        max-width: 100%;
        min-width: 100%;
        
        
    }
    .micarousel-inner{
        width: 100%;
        margin: auto;
    }
    .micarousel-inner img{
        object-fit: cover;
        height: 200px;
        margin: auto;
    }

    /* footer */
    .img{
        position: relative;
        right: 10px;
    }
    .img h3 {
        position: relative;
        right: 80px;
        color: white;
        margin-top: 15px;
        font-size: 25px;
        width: 200px;
        padding: 10px;
        border-bottom: red 2px solid;
        margin-bottom: 15px;
        
    }

/* articulo */
#section-articulo{
    width: 100%;
    margin-bottom: 65px;
}
.contenedor{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
.imagen-articulo img{
    width: 95%;
    height: auto;
    border-radius: 10px;
    
}
.img-articulo{
    margin-top: 0px;
    border-bottom: hidden;
    border-top: hidden;
}
.descripcion-articulos{
    margin-left: 10px;
    margin-bottom: -10px;
}
.descripcion-articulos h1{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: red;
}
.descripcion-articulos h6{
    margin-bottom: 40px;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 3px;
}
.cont-reseña{
    width: 95%;
    
}
.reseña-articulo{
    color: white;
    line-height: 25px;
    margin-top: 1px;
    letter-spacing: 2px;
    font-size: 10px;
    color: rgba(255, 0, 0, 0.753);
}
.puntaje{
    border: 1px solid rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    position: inherit;
    margin-left: -10px;

    margin-top: 10px;
    margin-bottom: 10px;
    
    letter-spacing: 3px;
    border-radius: 50%;
    background-color: black;
    color: red;
}
.puntaje:hover{
    background-color: green;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    transform: scale(1.1);
    transition: all 0.2s;
}
.puntaje h3{
    margin-top: 34px;
    margin-left: 8px;
}


}