.botones-work{
  overflow: hidden;
  display: flexbox;
  text-align: center;
}
.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left:15px;
  margin-top: 100px;
  margin-bottom:80px;
  padding: 13px 17px;
  border:  3px solid #bf98e7;
  border-radius: 28px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(135deg, #aeb7df 0%, #bf98e7 100%);


}
.contenedorXL{
  width: 70%;
  text-align: center;
  margin-left: 340px;
}
.botones-work li:hover{
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  transform: scale(1.1);
    transition: .3 ease-in;
    cursor: pointer;
}



.botones-work .active{
  background-image: linear-gradient(135deg, #8296f1 0%, #a043fd 100%);
  color: seashell;
}
.botones-work button{
  font-size: 35px;
  background-color: #a043fd;
  border-radius: 6px;
  cursor: pointer;

}

.galeria-work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;

}
.cont-work{
  width: 30%;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 1px rgb(219, 157, 255);
  height: 400px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 45px;
}
.img-work{
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;

}
.img-work img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.img-work h4{
 margin: auto;
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.titulo-plantillas{
    font-size: 80px;
    text-align: center;
    margin-top: 90px;
    font-weight: 500;
}
.subtitulo-plantillas{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

.filter{
  visibility: hidden;
  opacity: 0;
  order: 1;
  transition: all .5s ease-in;

}
