


    .wrapper{
        visibility: visible;
        height: 300px;
        border: 1px solid black;
        display: flex;
        overflow-x: auto;
    
    }
    .wrapper::-webkit-scrollbar{
        display: none;
    }
    .wrapper .item{
        min-width: 400px;
        height: 300px;
        line-height: 300px;
        text-align: center;
        background-color: rgb(143, 129, 129);
        margin-right: 30px;
    }

